#calculator{
    border: 3px solid black;
    height: 600px;
    width: 400px;
}

#display{
    width: 150px;
    height: 50px;
    background-color: aqua;
}

#button-container{
    height: 200px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}

.btn{
    height: calc(200px/4);
    width: calc(150px/3);
}

